$colors: #89ffba #7afffd #f39dff;
$text-colors: #ff9D30 #fe3083 #30fd83;

$greys: #333 #666 #999 #ccc #f2f2f2;

$fonts: 'Open Sans';

// Media Query Points
$mqs: 1680px 1460px 1200px 1080px 920px 768px 560px 380px;

$baseRootFontSize: 10px;
$smallestRootFontSize: 7px;



$header-height: 11rem;
$nav-height: 4rem;
$footer-height: 12rem;
