$mid-colors: #4eceff #f39dff;
$dark-colors: #b92fff darken(nth($mid-colors, 1), 25%) darken(nth($mid-colors, 2), 25%);
$light-colors: #89ffba #7afffd;

$bg-colors: nth($dark-colors, 1) nth($mid-colors, 1) nth($mid-colors, 2);
$button-colors: $bg-colors;
$text-colors: $dark-colors;

$fonts: 'Open Sans';

// Media Query Points
$mqs: 1680px 1460px 1200px 1080px 920px 768px 560px 380px;

$baseRootFontSize: 10px;
$smallestRootFontSize: 7px;



$header-height: 11rem;
$nav-height: 4rem;
$footer-height: 12rem;
