@import 'config';

.mt1 { margin-top: 0.5rem; } .mt2 { margin-top: 1rem; } .mt3 { margin-top: 1.5rem; } .mt4 { margin-top: 2rem; } .mt5 { margin-top: 2.5rem; } .mt6 { margin-top: 3rem; }

body.admin {
	> .container-fluid {
		min-height: 100vh;
		
		&.v-align {
			font-size: 0;
			
			> * {
				display: inline-block;
				font-size: 1.6rem;
				vertical-align: middle;
			}
			&::after {
				content: '';
				display: inline-block;
				height: 100vh;
				vertical-align: middle;
			}
		}
	}
}


body.admin.login {
	background: #ccc;
	
	.modal-content {
		max-width: 100%;
		width: 400px;
	}
}


body.admin.dashboard {
	background: #f4f4f4;
	
	main {
		background: #fff;
	}
}
